KAFKA_BOOTSTRAP=localhost:9092
DATABASE_URL=postgresql+psycopg2://cloudml:cloudml@localhost:5432/cloudml
MODELS_DIR=models
PROCESSED_DIR=processed

# AWS credentials (required for S3 storage)
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_SESSION_TOKEN=your_session_token_here
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET=your_bucket_name_here